<footer>

  <section class="containerBeneficios">
    <div class="contenedorImagen1">
    <img class="imgBene"src="/iconos/gift-box-with-a-ribbon.png" alt="">
    <p>Envíos 100% seguros</p>
    </div>
    <div class="contenedorImagen2">
    <img class="imgBene" src="/iconos/bank-building.png" alt="">
    <p>10% de descuento</p>
    </div>
    <div class="contenedorImagen2">
    <img class="imgBene" src="/iconos/credit-card.png" alt="">
    <p>12 Cuotas sin interés</p>
    </div>
  </div>

</section>

<section class="footerContainer">
<div class="info-footer">
<h3>PREGUNTAS FRECUENTES</h3>
<br>
<p>Cambios y devoluciones</p>
<p>Métodos de envío</p>
<p>Formas de pago</p>
</div>

<div class="info-contacto">
   <h3>CONTACTO</h3>
   <br>
    <p><i class="fas fa-phone-square-alt"><a href="#"> 0123 456789</a></i></p>
    <p><i class="fas fa-envelope-open-text"><a href="mailto:tierraquemada@email.com"> Escribinos!</a></i> </p>
    <p><i class="fas fa-map-marker-alt"><a href="#">Avenida SiempreViva 123</a></i> </p>
</div>

</section>
    
  </footer>