<footer>
    <div class="containerBeneficios">
      <div class="contenedorImagen1">
      <img class="imgBene1"src="/iconos/gift-box-with-a-ribbon.png" alt="">
      <p>Envíos 100% seguros</p>
      </div>
      <div class="contenedorImagen2">
      <img class="imgBene2" src="/iconos/bank-building.png" alt="">
      <p>10% de descuento</p>
      </div>
      <div class="contenedorImagen3">
      <img class="imgBene3" src="/iconos/credit-card.png" alt="">
      <p>12 Cuotas sin interes</p>
      </div>
    </div>

<div class="info-footer">
<p>cómo comprar</p>
<p>cambios y devoluciones</p>
<p>métodos de envío</p>
<p>formas de pago</p>
</div>

<div class="info-contacto">
<ul>
    <div><i class="fas fa-phone-square-alt"> teléfono</i></div>
    <div><i class="fas fa-envelope-open-text"> correo electrónico</i></div>
    <div><i class="fas fa-map-marker-alt"> domicilio</i></div>
</ul>
</div>
  </footer>