<header class="contenedorSuperior">

  <div id="mySidenav" class="sidenav">

        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/">Inicio</a>
        <a href="/carrito">Tienda</a>
        <a href="/products/">Productos</a>
        <% if (locals.isLogged) { %>
          <a href="/products/create">Crear producto</a>
        
          
        <a href="/users/profile">Mi Perfil</a>
        <a href="/users/logout">Cerrar Sesi贸n</a>
         
      <% } else { %>
        <a href="/users/register">Registrarse</a>
        <a href="/users/login">Iniciar Sesi贸n</a>
      <% } %>
      </div>

  <span class="btnMenu" onclick="openNav()">&#9776;</span>

    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "25vw";
    }
    
    function closeNav() { 
      document.getElementById("mySidenav").style.width = "0vw";
    }
    </script>
  <div class="contenedor-buscador">
          <input class="search" type="search" placeholder="Buscar un producto">
         </div>
    <div class="imagenLogo"> 
      <a href="/"><img class="logoHeader" src="\imagenes\logo.png" alt="logo"></a>
    </div>
    <div class="registro-formulario">
      <ul class="navbar-nav align-items-center">
				<% if (locals.isLogged) { %>
				  	<span>Hola <%=locals.userLogged.first_name%></span>
            <span><a href="/users/profile">Mi Perfil</a></span>
            <span><a href="/users/logout">Cerrar Sesi贸n</a></span>
           
				<% } else { %>
          <span><a href="/users/register">Registrarse</a></span>
          <span> <a href="/users/login">Iniciar Sesi贸n</a></span>
        <% } %>

    </div>  
    <div class="imagenCarrito">
       <a href="/carrito"><i class="fab fa-opencart"></i></a>
    </div>
        
</header>