<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')%>

<body>

  <%- include('./partials/header') %> 

    <main>
      <br>

         <div class="sliderImagenes ">
            <div class="mySlides fade">
              <div class="numbertext">1 / 3</div>
              <img src="/imagenes/banner_monte.png" >
              
            </div>

              <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="/imagenes/banner_mate.png" >
               
              </div>

            <div class="mySlides fade">
              <div class="numbertext">3 / 3</div>
              <img src="/imagenes/banner_3jpg.jpg" >
              
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <br>
         </div>

          <br>

          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
                </div>

   
                <script>
                                        var slideIndex = 1;
                      showSlides(slideIndex);

                      // Next/previous controls
                      function plusSlides(n) {
                        showSlides(slideIndex += n);
                      }

                      // Thumbnail image controls
                      function currentSlide(n) {
                        showSlides(slideIndex = n);
                      }

                      function showSlides(n) {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("dot");
                        if (n > slides.length) {slideIndex = 1}
                        if (n < 1) {slideIndex = slides.length}
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }
                        slides[slideIndex-1].style.display = "block";
                        dots[slideIndex-1].className += " active";
                      }
                </script>
                <br>
                <br>

              <section>
                <article class="containerProd">

                  <div class=containerIm>
                    <img  class="imagenProd" src="\imagenes\taza2_2.jpg" alt="Producto">
                  </div>
                  <div class="containerText"> 
                    <h1> COLECCIÓN TERRA </h1>
                    <br>
                  <p>Línea inspirada en los elementos de la naturaleza.</p> 
                  <br>
                  <p>Esmaltes y pastas reaccionan a más de 1200 °C para crear un sinfín de detalles que hacen a cada objeto único.
                  </p>
                </article> 

                <article class="containerProd1">
                <div class=containerIm>
                    <img class="imagenProd"  src="\imagenes\taza1_1.jpg" alt="Producto">
                  </div>
                  <div class="containerText"> 
                    <h1> COLECCIÓN MONTE </h1>
                    <br>
                  <p>Objetos elaborados en torno alfarero, combinando técnicas de modelado a mano</p> 
                  <br>
                  <p>Con el monte chaqueño como referencia, esmaltes y pastas reaccionan a más de 1200 °C para crear un sinfín de detalles que hacen a cada objeto único.
                  </p>
                </article>      
      
              </section>
            
              <section class="container-card">
                <div class="card">
                  <img class="imagenCard" src="\imagenes\jarra1_1.jpg" alt="Producto">
                  <h4>Jarra Gres Esmalte Blanco</h4>
                  <br>
                  <h5>$2500</h5>
                  <br>
                  <p>Jarra capacidad aproximada: 900cc.</p>
                  <br>
                  <button type="submit" class="loadProd">Agregar al carrito</button>

                </div>

                <div class="card">
                  <img class="imagenCard" src="\imagenes\mate1_2.jpg" alt="Producto">
                  <h4>Mate Gres Esmalte Beige<h4>
                  <br>
                  <h5>$1200</h5>
                  <br>
                  <p>Mate realizado en torno alfarero</p>
                  <br>
                  <button type="submit" class="loadProd">Agregar al carrito</button>
                </div>

                <div class="card">
                  <img class="imagenCard" src="\imagenes\taza1_1.jpg" alt="Producto">
                  <h4>Taza Gres Esmalte Blanco</h4>
                  <br>
                  <h5>$1500</h5>
                  <br>
                  <p>Capacidad aproximada: 400 cc.</p>
                  <br>
                  <button type="submit" class="loadProd">Agregar al carrito</button>
                </div>

              </section>  

          <h2><a href="/products/">ver mas...</a></h2>
    </main>
    <br>
    
    <%- include('./partials/footer')%> 
    

</body>
