<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head')%>

<body>

  <%- include('./partials/header') %> 

    <main>
         <div class="sliderImagenes ">
            <div class="mySlides fade">
              <img src="/imagenes/banner_monte.png" >
              
            </div>

              <div class="mySlides fade">
                <img src="/imagenes/banner_mate.png" >
               
              </div>

            <div class="mySlides fade">
              <img src="/imagenes/banner_3jpg.jpg" >
              
            </div>

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
            <br>
         </div>

          <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
          </div>
                </div>

   
                <script>
                                        var slideIndex = 1;
                      showSlides(slideIndex);

                      // Next/previous controls
                      function plusSlides(n) {
                        showSlides(slideIndex += n);
                      }

                      // Thumbnail image controls
                      function currentSlide(n) {
                        showSlides(slideIndex = n);
                      }

                      function showSlides(n) {
                        var i;
                        var slides = document.getElementsByClassName("mySlides");
                        var dots = document.getElementsByClassName("dot");
                        if (n > slides.length) {slideIndex = 1}
                        if (n < 1) {slideIndex = slides.length}
                        for (i = 0; i < slides.length; i++) {
                            slides[i].style.display = "none";
                        }
                        for (i = 0; i < dots.length; i++) {
                            dots[i].className = dots[i].className.replace(" active", "");
                        }
                        slides[slideIndex-1].style.display = "block";
                        dots[slideIndex-1].className += " active";
                      }
                </script>
                <br>
                <br>

              <section>
                <article class="containerProd">

                  <div class=containerIm>
                <img  class="imagenProd" src="\imagenes\taza2_2.jpg" alt="Producto">
                  </div>
                  <div class="containerText"> 
                    <h1> COLECCIÓN TERRA </h1>
                    <br>
                  <h4>Línea inspirada en los elementos de la naturaleza.</h4> 
                  <br>
                  <h4>Esmaltes y pastas reaccionan a más de 1200 °C para crear un sinfín de detalles que hacen a cada objeto único.
                  </h4>
                </article> 

                <article class="containerProd1">
                <div class=containerIm>
                    <img class="imagenProd"  src="\imagenes\taza1_1.jpg" alt="Producto">
                  </div>
                  <div class="containerText"> 
                    <h1> COLECCIÓN MONTE </h1>
                    <br>
                  <p>Objetos elaborados en torno alfarero, combinando técnicas de modelado a mano</p> 
                  <br>
                  <p>Con el monte chaqueño como referencia, esmaltes y pastas reaccionan a más de 1200 °C para crear un sinfín de detalles que hacen a cada objeto único.
                  </p>
                </article>      
      
              </section>


              <section>
                

              </section>
            
              <section class="container-card">
                <div class="card">
                  <img class="imagenCard" src="\imagenes\jarra1_1.jpg" alt="Producto">
                  <p class="cardName">Jarra Gres Esmalte Blanco</p>
                  <p class="cardPrice">$2500</p>
                  <br>
                  <a href="/carrito">
                    <button class="boton-formulario">Comprar</button>
                    </a>
                    <br>

                </div>

                <div class="card">
                  <img class="imagenCard" src="\imagenes\tetera.jpg" alt="Producto">
                  <p class="cardName"> Tetera</p>
                  <p class="cardPrice">$4000</p>
                  <div>
                    <br>
                  <a href="/carrito">
                    <button class="boton-formulario">Comprar</button>
                    </a>
                    <br>
                  </div>
                  
                </div>

                <div class="card">
                  <img class="imagenCard" src="\imagenes\taza1_1.jpg" alt="Producto">
                  <p class="cardName">Set de tazas </p>
                  <p class="cardPrice">$3000</p>
                  <br>
                  <a href="/carrito">
                    <button class="boton-formulario">Comprar</button>
                    </a>
                    <br>
                </div>

                <div class="card">
                  <img class="imagenCard" src="\imagenes\contenedor1_1.jpg" alt="Producto">
                  <p class="cardName">Contenedor</p>
                  <p class="cardPrice">$2100</p>
                  <br>
                  <a href="/carrito">
                    <button class="boton-formulario">Comprar</button>
                    </a>
                    <br>

                </div>

              </section>  

          <h2><a href="/products/">ver mas...</a></h2>
    </main>
    <br>
    
    <%- include('./partials/footer')%> 
    

</body>
