<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "./css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <title>INICIAR SESION</title>
</head>
<body>
    <header class="contenedorSuperior">

        <div id="mySidenav" class="sidenav">
    
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#">Tienda</a>
            <a href="#">Productos</a>
            <a href="#">Sobre Nosotros</a>
            <a href="#">Contacto</a>
          </div>
    
        <span class="btnMenu" onclick="openNav()">&#9776;</span>
    
        <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "55vw";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
        </script>
    
        <div class="imagenLogo"> 
          <img class="logoHeader" src="\imagenes\logoMain.png" alt="logo">
        </div>
    
        <div class="imagenCarrito">
            <img class="botonCarrito" href="*" src="\iconos\bagHome.svg">
        </div>
            
    </header>
<main>
    <form action="Creá tu cuenta" method="POST" class="control-formulario">
        <div>
           <div>
              <label for="name">nombre</label>
              <input type="text" id="name" name="nombre">
           </div>
           <div>
            <label for="email">email</label>
            <input type="texto" id="email" name="correo">
           </div>
           <div>
           <label for="contraseña">contraseña</label>
           <input type="password" id="password" name="contraseña">
           </div>
           <div>
              <label for="contraseña">confirmar contraseña</label>
              <input type="password" id="password" name="contraseña">
           </div>
           </div>


           <div><button>"CapTChA"</button></div>
           <div>
           <button type="submit" class="boton-formulario">CREAR CUENTA</button>
            </div>             
            </div>           
             <a>"¿ya tienes cuenta?"</a>
            <div>
                <button type="submit" class="boton-formulario">INICIAR SESION</button>
                 
            </div>
        </div>
        </form>
    </main>
    
<footer>
    <div class="info-footer">
        <p>cómo comprar</p>
        <p>cambios y devoluciones</p>
        <p>métodos de envíos</p>
        <p>métodos de envio</p>
    </div>
    
    <div class="info-contacto">
        <ul>
            <div><i class="fas fa-phone-square-alt">Teléfono</i></div>
            <div><i class="fas fa-envelope-open-text">Correo electrónico</i></div>
            <div><i class="fas fa-map-marker-alt">Domicilio</i></div>
        </ul>
    </div>
   </footer>       
</body>
</html>