<!DOCTYPE html>
<html lang="es">

  <%- include('./partials/head')%>

<body>

    <%- include('./partials/header') %> 

<main>
    <form action="Creá tu cuenta" method="POST" class="control-formulario">
        <div>
            <br>
            <br>
           <div>
              <label for="name">nombre</label>
              <input type="text" id="name" name="nombre"  placeholder="ej:Juan Perez">
           </div>
           <br>
           <div>
            <label for="email">email</label>
            <input type="texto" id="email" name="correo"  placeholder="ejemplo@correo">
           </div>
           <br>
           <div>
           <label for="contraseña">contraseña</label>
           <input type="password" id="password" name="contraseña"  placeholder="clave">
           </div>
           <br>
           </div>
           <div><button>"CapTChA"</button></div>
           <div>
           <button type="submit" class="boton-formulario">CREAR CUENTA</button>
            </div> 
            <br>
            <br>            
            </div>           
             <a>"¿ya tienes cuenta?"</a>
             <br>
             
            <div>
                <button type="submit" class="boton-formulario">INICIAR SESION</button>
                 
            </div>
            <br>
           
        </div>
        </form>
    </main>
    
    <%- include('./partials/footer') %>   

</body>
</html>