<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>

  <%- include('../partials/header') %> 

    <main>
    <form action="register.html" method="POST" class="control-formulario">
    <br>
    <br>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" id="nombre" placeholder="ej:Juan Perez">
    <br>
    <br>
    <label>Email</label>
    <input type="email" name="email" placeholder="ejemplo@correo">
    <br>
    <br>
    <label for=>Contraseña</label>
    <input type="password" name="password" placeholder="clave">
    <br>
    <br>
    <label for=>Confirmar Contraseña</label>
    <input type="password" name="new_password" placeholder="Confirmar">
    <br>
    <br>
    <button type="submit" class="boton-formulario">REGISTRARSE</button>
    <br>
    <br>
    </form>
</main>

<%- include('../partials/footer') %>

</body>
</html>