=<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body >
    
    <%- include('../partials/header') %> 
              
    <main class="body-loadProduct">
        <h1>CARGAR UN NUEVO PRODUCTO</h1>
        <div class="contenedor-agregarProd">
            <form action="create" method= 'POST' enctype="multipart/form-data">
                <div class="form-loadProd">
                   <label>Nombre del producto</label>
                   <input type="text" name="product">
                </div>

                   <label>Descripción del Producto</label>
                   <div class="form-loadProd">
                   <textarea name="description" id="" cols="40" rows="6"></textarea>
                   </div>

                 <div class="form-loadProad">
                   <label>Categoría</label>
                   <input type="text" name="category">
                </div>
                
                <div class="form-loadProad">
                    <label>Color</label>
                    <input type="text" name="colour">
                 </div>

                <div class="form-loadProad">
                   <label>Precio</label>
                   <input type="number" name="precio">
                </div>

                <div class="form-loadProd">
                    <label>Imagen del producto</label>
                    <input type="file" name="productImage" accept=".jpg, .png" class="control-input">
                 </div>


                <button type="submit" class="loadProd">ENVIAR</button>
                <button type="reset" class="loadProd">BORRAR</button>
            </form>
        </div>
    </main>

    <%- include('../partials/footer') %> 


</body>
</html>