<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body >
    
    <%- include('../partials/header') %> 
              
    <main class="body-loadProduct">
        <h1>CARGAR UN NUEVO PRODUCTO</h1>
   
            <form action="create" method= 'POST' enctype="multipart/form-data" class= "form-create" id="formValidations">
                <div class="forms">
                <div class="left">
                    <p>
                    <br>
                       <label>Nombre del producto</label> 
                       <br>
                      <input type="text" name="product_name">
                    </div>
                    <p class="form__input-error">Campo obligatorio debe contener al menos 5 caracteres</p>
                    </div>
                    </p>

                    <p>
                        <label>Precio</label>
                        <br>
                        <input type="number" name="price">
                    </p>
                    <p>
                        <label>Color</label>
                        <br>
                        <input type="text" name="colours">
                    </p>
                    <p>
                        <label>Categoría</label>
                        <br>
                        <input type="text" name="category">
                        
                    </p>   
                </div>
                
                <div class="right">
                <div class="form-loadProd"></p>
                   <label>Descripción del Producto</label> 
                   <br>
                    <input name="description" id="" cols="40" rows="6">
                    </div>
                    <p class="form__input-error">Campo obligatorio debe contener al menos 20 caracteres</p>
                    </div>
                </div>
                <p>
                    <label>Imagen del producto</label>
                    <br>
                    <input type="file" name="productImage" accept=".jpg, .png" class="control-input">
                 </p>
                </div> 
            </div>
            <br>
        
                <button type="submit" class="loadProd">GUARDAR</button>
                <button type="reset" class="loadProd">BORRAR</button>
                <br>
            </form>
    
    </main>

    <%- include('../partials/footer') %> 


</body>
</html>