=<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head')%>

<body>
    
    <%- include('../partials/header') %> 

    <main class="body-editProduct">
            <h1>FORMULARIO: EDICIÓN DE PRODUCTOS</h1>

            
            <div class="contenedor-editarProd">
                <form action="">
                    <div class="form-editProd">
                       <label>Producto</label>
                       <input type="text" name="nombre del producto">
                    </div>
                    <div class="form-editProd">
                       <label>Seleccionar Imagen</label>
                       <input type="file" name="foto" accept=".jpg, .png" class="control-input">
                    </div>
                    
                       <label>Descripción del Producto</label>
                       <div class="form-editProd">   
                         <textarea name="Descripción" id="" cols="40" rows="6"></textarea>
                       </div> 
                    <div class="form-editProd">
                       <label>Precio</label>
                       <input type="number" name="precio">
                    </div>
                    <button type="submit" class="editProd">EDITAR</button>
                    <button type="reset" class="editProd">BORRAR</button>
                </form>
            </div>
    </main>
     

    <%- include('../partials/footer') %> 


</body>
</html>