<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>
    <%- include('../partials/header') %> 

<main class="producto-a-comprar">
  <br>
  <div class="left-detail"></div>
   <div><img src= "/imagenes/taza2_1.jpg" alt = "Jarra Gres" class= "imagenProdCompra"></div>
         <section class="texto-derecha"> 
            <p><h3>PRODUCTO:</h3></p>
            <p><h3>TAZA GRES ESMALTE JASPEADO</h3></p>
            <p><h3>$1.200</h3></p>
            <p><h3>DESCUENTO: 10% OFF</h3></p>
            <p><h3>Precio: $1.080</h3></p>
            <div><button type="submit" class="boton-comprar">COMPRAR</button>      
            </div>
         </section>
        </br>
        
        </main>
 
 
</main>
 
<%- include('../partials/footer') %> 
    
</body>
</html>