<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>
    <%- include('../partials/header') %> 

<main class="producto-a-comprar">
  <br>

  <div class="left-detail"></div>
   <div class="carritoimg"><img src= "/imagenes/taza2_1.jpg" alt = "Jarra Gres" class= "imagenProdCompra"></div>
         <section class="carritoDetail"> 
           <div class="itemscart">
            <h4>PRODUCTO:</h4>
            <p>TAZA GRES ESMALTE JASPEADO</p>
           </div> 
           <div class="itemscart">
            <h3>Precio</h3>
            <p> $1500</p>
           </div> 
           
           <h4>DESCUENTO: 10% OFF</h4>  
           <div class="itemscart">
             <h3>PRECIO FINAL</h3>
             <p> $1350</p>

          </div> 

            <br>
            
            <br>
            
            <p> </p>
            
         </section>
         <button type="submit" class="boton-comprar">COMPRAR</button>      
        </br>
        
        </main>
 
 
</main>
 
<%- include('../partials/footer') %> 
    
</body>
</html>