<!DOCTYPE html>
<html lang="es">

  <%- include('../partials/head')%>

<body>
    <%- include('../partials/header') %> 

<main class="producto-a-comprar">
  <br>
  <div class="left-detail"></div>
   <div><img src= "/imagenes/taza2_1.jpg" alt = "Jarra Gres" class= "imagenProdCompra"></div>
         <section class="texto-derecha"> 
            <p><h3>PRODUCTO:</h3></p>
            <p><h3>TAZA GRES ESMALTE JASPEADO</h3></p>
            <p><h3>$1.200</h3></p>
            <p><h3>DESCUENTO: 10% OFF</h3></p>
            <p><h3>Precio: $1.080</h3></p>
            <div><button type="submit" class="boton-comprar">COMPRAR</button>      
            </div>
         </section>
        </br>
        
        </main>
  <section class="leyenda">
  <p><h3>PRODUCTOS SIMILARES</h3></p>

</section>
<section class="container-card">
  <div class="card">
    <img class="imagenCard" src="\imagenes\jarra1_1.jpg" alt="Producto">
    <h3>Jarra Gres Esmalte Blanco</h3>
    <h3>$2500</h5>
    <p><h3>DESCUENTO: 10% OFF</h3></p>
    <p><h3>Precio: $2.250</h3></p>   

    <div><button type="submit" class="boton-comprar">COMPRAR</button></div>   

  </div>

  <div class="card">
    <img class="imagenCard" src="\imagenes\mate1_2.jpg" alt="Producto">
    <h3>Mate<h3>
    <h3>$1200</h3>
    <p><h3>DESCUENTO: 10% OFF</h3></p>
    <p><h3>Precio: $1.080</h3></p>  

    <div><button type="submit" class="boton-comprar">COMPRAR</button></div>      
  </div>

  <div class="card">
    <img class="imagenCard" src="\imagenes\taza1_1.jpg" alt="Producto">
    <h3>Taza Gres Esmalte Blanco</h3>
    <h3>$1500</h3>
    <p><h3>DESCUENTO: 10% OFF</h3></p>
    <p><h3>Precio: $1.080</h3></p>  

    <div><button type="submit" class="boton-comprar">COMPRAR</button></div>     
  </div>
</section>  
  </div>
 
</main>
 
<%- include('../partials/footer') %> 
    
</body>
</html>