<!DOCTYPE html>
<html lang="en">

  <%- include('../partials/head')%>

<body>
  
<%- include('../partials/header') %> 

  <main class= "product-detail">

      <section class="contenedor-detalle">

        <div class="contenedor-izquierdo">
          <div><img src= "/imagenes/taza2_2.jpg" alt = "Jarra Gres"> </div>
          <div><img src= "/imagenes/taza2_3.jpg" alt = "Jarra Gres"> </div>
      
        </div>
        <div class="contenedor-medio"><img src= "/imagenes/taza2_1.jpg" alt = "Jarra Gres"></div>
  
        <div class="contenedor-derecho"> 
          <div class=nombre>TAZA GRES ESMALTE JASPEADO</div>
          <div class="precio">$1200</div>
          <div class="medios-de-pago"> </div>
          <div>opciones de pago </div>
          <div><img width=200px src="/imagenes/formas-de-pago.jpeg" alt= "formas de pago"></div>
          <div> <form= action="cantidad" method="get">
            <label>Seleccione cantidad  </label>
            <select name="cantidad">
                <option>1</option>
                <option>2</option>
	              <option>3</option>
	              <option>4</option>
	              <option>5</option>
	              <option>6</option>
               </select>
          </form>
          </div>
          <div><button type="submit" class="boton-formulario">AGREGAR AL CARRITO</button>
          
        </div>
      </section>

      <section class="descripcion-producto">
          <div><p> Cerámica gres. Cono 6/7.</p>
            <p>Producto apto para lavavajillas Y MICROONDAS.</p>
            <p>Medidas 9 x 8.5 cm</p>
            <p>Capacidad aprox. 400cc.</p>
          </div> 
      </section>
      <article class="comentarios"></article>
          <div>
            
          </div>
          <div>Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Facilis, saepe? Eos quae distinctio, iusto atque non ut nam placeat ea natus minus 
          </div>
      </article>
    
  </main>

  <%- include('../partials/footer') %> 
  
</body>
</html>